<h1> This is the Aircraft Index </h1>

<%= link_to "Add and aircraft", new_aircraft_path %>

<ul>
    <% @aircrafts.each do |aircraft| %>
        <li>
            <%= link_to aircraft.model, aircraft_path(aircraft.id)%>
        </li>
    <% end %>
</ul>